<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title">
    <title>Bayard</title>
    <link href="stylesheets/css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="main_logo">
                  <a href="#"><img class="main_logo_size" src="images/logo.png" alt=""/></a>
                </div>
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Our Services</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  <div class="main_container">

    <div class="container">
      <div class="row">
            <div class="col-md-2">
                <img src="images/icon-ourservices.png" alt="" />
            </div>
            <div class="col-md-10">
              <h1 class="services_text_style">Our Services</h1>
              <p class="container_text">
                <%=service%>
              </p>
            </div>
        </div>
      </div>
    </div>
    <div class="middle_container">
      <div class="container">
        <h4 class="middle_title_text">Why you should hire us</h4>

        <div class="row">
          <div class="col-md-6 service_spacer">
            <div class="">
              <h5 class="service_title_text">SERVICE 1</h5>
              <p class="container_text">
                <%=services%>
              </p>
            </div>
            <div>
              <h5 class="service_title_text">SERVICE 3</h5>
              <p class="container_text">
                <%=services%>
              </p>
            </div>
          </div>
          <div class="col-md-6 service_spacer">
            <div class="">
              <h5 class="service_title_text">SERVICE 2</h5>
              <p class="container_text">
                <%=services%>
              </p>
            </div>
            <div>
              <h5 class="service_title_text">SERVICE 4</h5>
              <p class="container_text">
                <%=services%>
              </p>
            </div>
          </div>
        </div>
        <div class="text-center learn_button_location">
          <button type="button" class="btn button_style" name="button">LEARN MORE</button>
        </div>
      </div>
    </div>
<div class="bottom_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="newsletter_container align-center">
          <h3>Sign up for our newsletter</h3>
      </div>
    </div>
    </div>
  </div>
</div>


      <footer>
        <nav class="navbar navbar-fixed-bottom" role="navigation">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <div class="main_logo">
                        <p class="footer_text_color">&copy; Bayard Advertising</p>
                      </div>
                  </div>
                  <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav footer_text_color">
                          <li>
                              <a href="#">Home</a>
                          </li>
                          <li>
                              <a href="#">About Us</a>
                          </li>
                          <li>
                              <a href="#">Our Services</a>
                          </li>
                          <li>
                              <a href="#">Blog</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>

          <!-- <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="">
                      <ul class="nav navbar-nav text-right">
                          <li>
                              <a href="#">Home</a>
                          </li>
                          <li>
                              <a href="#">About Us</a>
                          </li>
                          <li>
                              <a href="#">Our Services</a>
                          </li>
                          <li>
                              <a href="#">Blog</a>
                          </li>
                      </ul>
                    </div>

                </div>
            </div>
          </div> -->
        </footer>


  </div>
    <script src="js/service.js" charset="utf-8"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
